.text__education, .text-contact, h2 {
  font-family: "Poppins", Verdana, sans-serif;
}

.list, .code, .navigation__item {
  font-family: "Inter", Verdana, sans-serif;
}

.profile__subtitle, .profile-title-2, h1 {
  font-family: "Open Sans", Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 10rem;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: auto;
}

h1 {
  font-size: 7.8rem;
  margin: 0px;
  color: #ffffff;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 3rem;
  color: #ffffff;
}

p {
  font-size: 1.4rem;
}

.both-sides {
  display: grid;
  grid-template-columns: 335px 1fr;
}

.title-right {
  padding: 0 0 0 250px;
}

.title-left {
  text-align: center;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
.header {
  margin-left: 20px;
}

.wrapper__header {
  background: #49A49D;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin: 0;
}

.navigation__item {
  list-style: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
}

.nav-links:hover {
  color: #17171a;
  transition: all 0.3s;
}

.text-contact {
  padding-bottom: 26px;
  font-size: 2rem;
  line-height: 3.4rem;
  font-weight: 400;
}

.list-contacts {
  list-style: none;
}

.link-contacts {
  text-decoration: none;
  color: black;
}

.text-contact__latter {
  background: url(../assets/svg/latter.svg);
  background-repeat: no-repeat;
  padding-left: 5.4rem;
  line-height: 3.4rem;
}

.text-contact__phone {
  background: url(../assets/svg/phone.svg);
  background-repeat: no-repeat;
  padding-left: 5.4rem;
  line-height: 3.4rem;
}

.text-contact__telegram {
  background: url(../assets/svg/telegram.svg);
  background-repeat: no-repeat;
  padding-left: 5.4rem;
  line-height: 3.4rem;
}

.link-contacts:hover {
  color: #49A49D;
  transition: all 0.3s;
}

.text-contact__github {
  background: url(../assets/svg/github.svg);
  background-repeat: no-repeat;
  padding-left: 5.4rem;
  line-height: 3.4rem;
}

.wrapper__education {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.text__education {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

.title__education {
  padding: 46px 0 0 0;
}

.profile-content {
  display: block;
  color: #ffffff;
  width: 766px;
  height: 405px;
  padding: 73px;
}

.profile-title {
  font-size: 100px;
  line-height: 136px;
}

.profile-title-2 {
  font-size: 7.3rem;
  line-height: 7rem;
  font-weight: 400;
  margin: 0px;
  color: #ffffff;
}

.profile__subtitle {
  font-weight: 400;
  line-height: 41px;
}

.item__about {
  font-size: 2.4rem;
}

.item__skills {
  font-size: 2.4rem;
}

.title-skills {
  padding-top: 50px;
}

.code {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 400;
  padding: 0 0 62px 0;
}

.code-container {
  padding-left: 100px;
  display: flex;
  justify-content: center;
}

.line-container {
  padding-bottom: 20px;
}

.link-projects {
  text-decoration: none;
}

.list__projects {
  list-style: none;
}

.link-projects {
  color: #17171a;
}

.link-projects:hover {
  color: #49A49D;
  transition: all 0.3s;
}

.item__languages {
  font-size: 2.4rem;
}

.footer {
  background: #49A49D;
}

.symbols__footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #49A49D;
}

.rs-logo {
  width: 86px;
  height: 32px;
  margin: 0 0 5px 40px;
}

.github-footer {
  width: 64px;
  height: 64px;
  margin: 0 40px 0 0;
}

.footer__text {
  font-size: 2.4rem;
  font-weight: bold;
}

.left-side {
  padding-left: 20px;
}

.photo-left-side {
  height: 405px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  content: "";
  display: block;
  width: 80%;
  height: 5px;
  background: #2ea9b2;
  margin: 0 20% 0 20%;
}

.list {
  padding: 0 0 62px 250px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 400;
}

.wrapper {
  margin: auto;
}

.wrapper__profile {
  background: #252525;
}

/*# sourceMappingURL=style.css.map */
