@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Medium.ttf");
    font-weight: 500;
  }


  @font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
  }


  @font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url("assets/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url("assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-weight: 600;
  }