.header{
    margin-left: 20px;
}

.wrapper__header{
    background: $color-brand;
}


.navigation__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin: 0;  
}


.navigation__item{
    list-style: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.6rem;
}


.nav-links{
    color: $color-text-add;
    text-decoration: none;
}
